<div class="cards">
  <h2 class="header">Alticci Sequence</h2>
  <div class="services">
    <div class="content content-1">
      <div class="fab fa-twitter"></div>
      <h2>Single Alticci Value</h2>
      <p>Insert an index n to obtain its value in the alticci sequence.</p>
      <div>
        <input type="text" placeholder="Index" />
      </div>
      <a (click)="sendValue()">Submit</a>
    </div>
    <div class="content content-2">
      <div class="fab fa-instagram"></div>
      <h2>Full Alticci Sequence</h2>
      <p>
        Insert an index n to obtain the full alticci sequence till the
        designated index.
      </p>
      <div>
        <input type="text" placeholder="Index" />
      </div>

      <a (click)="sendValue()">Submit</a>
    </div>
  </div>
</div>

<div class="image-altice">
  <img
    src="https://conteudos.altice-empresas.pt/Style%20Library/empresarial/images/logo.png"
    alt="Altice"
  />
</div>
