@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.cards {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.content .fab {
  font-size: 70px;
  margin: 16px 0;
}
.content > * {
  flex: 1 1 100%;
}
.content:hover {
  color: white;
}
.content:hover a {
  border-color: white;
  background: white;
}
.content-1:hover {
  border-color: #5e5e5e;
  background: #5e5e5e;
}
.content-1:hover .alert {
  color: white;
}
.content-1:hover .submit-button:enabled {
  background-color: white;
  color: #5e5e5e;
}
.content-2:hover {
  border-color: #5e5e5e;
  background: #5e5e5e;
}
.content-2:hover .submit-button:enabled {
  background-color: white;
  color: #5e5e5e;
}
.content-2:hover .alert {
  color: white;
}
.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.submit-button {
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 60px;
  border-radius: 25px;
  transition: 0.3s ease;
}

.submit-button:disabled {
  border: 1px solid #dcdcdc;
  background-color: #dbdbdb;
  color: white;
}

.submit-button:hover:enabled {
  border-radius: 4px;
  cursor: pointer;
}

.alerts {
  height: 9px;
}
.alert {
  margin-top: 1px;
  font-size: small;
  color: #5e5e5e;
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}

.image-altice {
  margin-top: 20px;
  text-align: center;
}

input[type="text"] {
  text-align: center;
  width: 90%;
  border: 2px solid #aaa;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
